* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  height: 100%;
}

body {
  min-width: 40rem;
  margin: 0;
  height: 100%;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal-container {
  position: fixed;
  max-width: 60rem;
  width: 60%;
  height: 90%;
  background-color: white;
  left: 0;
  right: 0;
  top: 5%;
  margin: auto;
  display: none;
}

.modal-container section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.modal-image {
  width: 100%;
  flex-basis: 80%;
  border: 0.1rem solid black;
}

.modal-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.main-page {
  margin: 0 auto;
  height: 100%;
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.main-page section {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.image-container {
  flex-basis: 70%;
  justify-content: left;
}

.image-container .default-info {
  text-align: center;
  width: 100%;
}

.image-container span {
  font-weight: bold;
  font-style: italic;
}

.button-container {
  flex-basis: 30%;
  justify-content: center;
}

.card {
  padding: 1rem;
  box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
  border-radius: 0.2rem;
}

.image {
  flex: 1 1 20%;
  height: 15rem;
}

button {
  padding: 1rem;
  width: 25%;
  background-color: white;
  border: white;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.2rem;
}

button.first {
  background: #3dc2ec;
  border: 0.2rem solid #3dc2ec;
  color: white;
}

button.first:hover,
button.first:active {
  background: #4c3bcf;
  border: 0.2rem solid #4c3bcf;
}

button.second {
  background: white;
  color: #c80036;
  border: 0.2rem solid #c80036;
}

button.second:hover,
button.second:active {
  background: #c80036;
  color: white;
  border: 0.2rem solid #c80036;
}

.display {
  display: block;
}
